@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-image: linear-gradient(to right, #5A3542, #1A3258);
}

.titulo {
    text-align: center;
    font-size: 2.3em;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.473);
}

.informacao {
    background-image: linear-gradient(to right, #382B39, #2A3043);
    border: none;
    padding-left: 80px;
    padding-top: 7px;
    padding-bottom: 6px;
    margin: 3.5px;
    border-radius: 7px;    
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    
    transform: translate(-50%, -50%);
}

.entrar {
    background-color: #558AD7;
    color: white;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.486);   
    
    
    width: 97%;
    padding-top: 7px;
    padding-bottom: 6px;
    margin: 3.5px;
    border-radius: 7px;
}

.informacao:hover {
    background-color: #3E343F;
}

.entrar:hover {
    background-color: #11305e;
}